In [1]:
import numpy as np
import pandas as pd

from sklearn.metrics import pairwise_distances

In [2]:
df = pd.read_pickle('movie_summaries.pkl')
doc_topic_df = pd.read_pickle('doc_topic_df.pkl')

In [3]:
def recommendation_single(movie_idx, n_recs=5):
    print(df['title'][movie_idx])
    print(df['original_summary'][movie_idx][:100] + '...')
    print('\n')
        
    recs = pairwise_distances(np.array(doc_topic_df.iloc[movie_idx]).reshape(1,-1), doc_topic_df, metric='cosine').argsort()[0][1:]
        
    for i in range(n_recs):
        print('\t', df['title'][recs[i]])
        print('\t', df['original_summary'][recs[i]][:100] + '...')
        print('\n')

In [4]:
def recommendation_pair(movie_idx_1, movie_idx_2, n_recs=5):
    print('First selected movie:')
    print(df['title'][movie_idx_1])
    print(df['original_summary'][movie_idx_1][:100] + '...')
    print('\n')
    
    print('Second selected movie:')
    print(df['title'][movie_idx_2])
    print(df['original_summary'][movie_idx_2][:100] + '...')
    print('\n')
    
    print('Getting recommendations...')
    
    recs_1 = pairwise_distances(np.array(doc_topic_df.iloc[movie_idx_1]).reshape(1,-1), doc_topic_df, metric='cosine').argsort()[0]
    recs_2 = pairwise_distances(np.array(doc_topic_df.iloc[movie_idx_2]).reshape(1,-1), doc_topic_df, metric='cosine').argsort()[0]

    rec_ranks = []
    for i,title in enumerate(df['title']):
        rec_ranks.append(list(recs_1).index(i) + list(recs_2).index(i)) 
        
    rec_idx = np.argpartition(rec_ranks, n_recs)
    
    print('\n')
    if (movie_idx_1 in rec_idx[:n_recs]):
        n_recs += 1
    if (movie_idx_2 in rec_idx[:n_recs]):
        n_recs += 1
    if (movie_idx_1 == movie_idx_2):
        n_recs -= 1
        
    for i in rec_idx[:n_recs]:
        if i not in [movie_idx_1, movie_idx_2]:
            print('\t', df['title'][i])
            print('\t', df['original_summary'][i][:100] + '...')
            print('\n')
    
    return

# Beauty and the Beast (1991)

In [10]:
doc_topic_df.iloc[210]

topic_1     0.999999
topic_2     0.999999
topic_3     0.999999
topic_4     0.999999
topic_5     0.999999
topic_6     0.000001
topic_7     0.998156
topic_8     0.999999
topic_9     0.999999
topic_10    0.999999
topic_11    0.999999
topic_12    0.999999
topic_13    0.999999
topic_14    0.999999
topic_15    0.999994
topic_16    0.999999
topic_17    0.999999
topic_18    0.999999
topic_19    0.025654
topic_20    0.023318
topic_21    0.145268
topic_22    0.999999
topic_23    0.704404
topic_24    0.036344
topic_25    0.918309
topic_26    0.153213
topic_27    0.999999
Name: 210, dtype: float64

In [5]:
recommendation_single(210, n_recs=3)

Beauty and the Beast
The beautiful Belle ignores her suitor, the vain Gaston, as she cares for her father, the eccentric ...


	 Beauty and the Beast
	 The beautiful Belle ignores her suitor, the vain Gaston, as she cares for her father, the eccentric ...


	 Lady and the Tramp
	 Lady, a young cocker spaniel from a respectable home, falls in love with Tramp, a mutt who lives in ...


	 Lion King, The
	 A young lion cub, Simba, struggles to find his place in nature's "circle of life" and follow in the ...

# Star Wars: The Force Awakens

In [6]:
recommendation_single(1762, n_recs=3)

Star Wars: The Force Awakens
Thirty years ago, the Galactic Empire was defeated, but now the Galaxy faces a new threat known as t...


	 Incredibles, The
	 Bob Parr used to be one of the world's greatest superheroes, known to all as "Mr. Incredible, " savi...


	 Bolt
	 For super-dog Bolt, every day is filled with adventure, danger, and intrigue-at least until the came...


	 Atlantis: The Lost Empire
	 In 1914, an inexperienced young museum cartographer and linguistics expert, Milo Thatch, joins up wi...

# Beauty and the Beast + Star Wars: The Force Awakens

In [7]:
recommendation_pair(210, 1762, n_recs=3)

First selected movie:
Beauty and the Beast
The beautiful Belle ignores her suitor, the vain Gaston, as she cares for her father, the eccentric ...


Second selected movie:
Star Wars: The Force Awakens
Thirty years ago, the Galactic Empire was defeated, but now the Galaxy faces a new threat known as t...


Getting recommendations...


	 20,000 Leagues Under the Sea
	 In 1868, an armed frigate sent to seek out a fabled destroyer of ships is itself sunk, and three pas...


	 Pete's Dragon
	 Lively musical comedy in which a magical and sometimes mischievous dragon, Elliott, inadvertantly ca...


	 Chronicles of Narnia, The: The Lion, the Witch and the Wardrobe
	 Four Pevensie siblings-Lucy, Edmund, Susan, and Peter-in World War II England enter the world of Nar...

# Bambi + Dumbo (Walt Disney's favorite movies)

In [8]:
recommendation_pair(184, 584, 3)

First selected movie:
Bambi
Life story of a fawn, Bambi, who grows up, with friends Thumper, the rabbit, and Flower, the skunk, ...


Second selected movie:
Dumbo
A baby circus elephant is born with huge ears, and named Dumbo. He and his mother suffer humiliation...


Getting recommendations...


	 Snow White and the Seven Dwarfs
	 A beautiful girl, Snow White, takes refuge in the forest in the house of Seven Dwarfs to hide from h...


	 Beauty and the Beast
	 The beautiful Belle ignores her suitor, the vain Gaston, as she cares for her father, the eccentric ...


	 Beauty and the Beast
	 The beautiful Belle ignores her suitor, the vain Gaston, as she cares for her father, the eccentric ...

# Toy Story + WALLE

In [9]:
recommendation_pair(1896, 1981, n_recs=3)

First selected movie:
Toy Story
Andy's toys are fearful of being replaced when the boy's birthday comes along. Woody, his favorite t...


Second selected movie:
WALLE
Computer-animated feature from Pixar Animation. What if mankind had to leave Earth 700 years in the ...


Getting recommendations...


	 Alice in Wonderland
	 Animated version of Lewis Carroll's famous story of Alice and her adventures after falling down a ra...


	 Treasure Planet
	 With a nod to Robert Louis Stevenson's Treasure Island, this animated feature follows 15-year-old Ji...


	 Great Mouse Detective, The
	 Animated adventures of a mouse, Basil of Baker Street, who is called upon to search for a toy maker,...

In [15]:
recommendation_single(2107, n_recs=3)

Zootopia
Animated feature taking place in a modern mammal metropolis built by animals. It has various habitat...


	 Aladdin
	 Animated feature about a street-smart young thief in the mythical city of Agrabah who meets and fall...


	 Three Little Pigs
	 Silly Symphony cartoon; released on May 27, 1933. Directed by Burt Gillett. While two happy-go-lucky...


	 Donald's Cousin Gus
	 Donald Duck cartoon; released on May 19, 1939. Directed by Jack King. Donald's goose cousin, Gus, co...